* {
    margin: 0; 
    padding: 0; 
}
.dropdown {
    width: 200px; 
    position: relative;

}
.dropdown .dropdownBtn {
    padding: 15px;
    background: #fcfcfc;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
    font-weight: bold;
    color: #333; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown .dropdownContent {
    position: absolute;
    top: 110%; 
    left: 0; 
    padding: 10px; 
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
    font-weight: 500;
    color: #333; 
    width: 95%; 

}
.dropdown .dropdownContent .dropdownItem {
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.dropdown .dropdownContent .dropdownItem:hover{
    background: #f4f4f4;
}