.AccountTableContainer {
    width: 100%;
    padding: 20px;
  }
  
.AccountTable--Title {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  padding: 10px;
}

