.containerCategory {
    width: 301px;
    height: 269px;
    gap: 10px; 
    color: white; 
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color:   linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      );
}
.centered {
    font-weight: bold;
    font-size: 20px;
}