.container{
    width: fit-content; 
}
.title {
    margin-top: 24px; 
    margin-bottom: 24px;
    margin-left: 200px; 
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%; 
}
.categoryContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 25px; 
    width: 100%; 
}
.filter {
    display: flex; 
    flex-direction: row;
    gap:10px; 
    margin-left: 63px; 
    margin-bottom: 48px; 
}
.productContainer {
    margin-top: 64px; 
    margin-left: 25px; 
    margin-right: 25px; 
}
.filterTitle {
    font-weight: bold;
    color: #737373; 
    margin-top: auto; 
    margin-bottom: auto;
}