.right {
    position: relative;
    background-color: white;
}
.centerRightContainer { 
    margin-top: 100px;
    margin-left: 101px; 
    margin-right: 99px; 
}
.heading {
    display: flex; 
    gap: 10px; 
    flex-direction: column;
    margin-bottom: 40px;
}
.title {
    font-size: 32px;
    font-weight: 600;
}
.subtitle {
    font-size: 16px;
    color: #8D8D8D; 
}
.text {
    font-size: 16px;
    font-weight: 600;
}
.input {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    
}
.inputContainer:focus::placeholder {
    opacity: 0;
}
.inputContainer::placeholder {
    font-size: 18px; 
    margin-bottom: 10px;
}
.inputContainer {
    border:none; 
    border-bottom: 1px solid black; 
    width: 440px; 
    padding-top: 20px; 
}
.btn {
    margin-top: 29px; 
    display: flex;
    flex-direction: column;
    gap: 20px; 
}
.createBtn , .signUpBtn { 
    padding-top: 18px;
    padding-bottom: 17px; 
    border-radius: 20px;
    font-weight: 600;
    border: 1px solid black;
    font-size: 20px;
    justify-content: center;
    display: flex;
    gap: 20px; 
}
.createBtn, .signUpBtn {
    padding-left: 93px; 
    padding-right: 92px; 
    cursor: pointer; 
}
.createBtn, .signUpBtn:hover{
    background-color: black;
    color: white; 
}
.createBtn:hover ,  .signUpBtn {
    background-color: white;
    color: black;
}
 

.remind, .registerRemind {
    display: flex; 
    justify-content: center;
    gap: 10px; 
    margin-top: 20px; 
}
.registerRemind {
    justify-content: left;
}
.link {
    text-decoration: none;
    color: #3EC1F3; 
    font-weight: 600;
}
.link:hover {
    text-decoration: underline;
}
