.navbar {
    margin-left: 45px; 
    margin-right: 45px; 
    margin-top: 16px; 
    padding: 10px 30px; 
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
}
.left { 
    display: flex; 
    width: fit-content; 
    gap: 25px; 
}
.right {
    display: flex;
    gap: 25px;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: fit-content;
    margin-top: auto; 
    margin-bottom: auto;
}
.section {
    gap: 25px;
    display: flex;
    padding-top: 10px; 
}
.link {
    font-size: 18px;
    color: inherit; 
    text-decoration: inherit;
}
.button {
    width: 60px; 
    height: 62px;
    background-color: #23A6F0;
    border: none; 
    border-right: 1px solid white; 

}
.searchWrapper {
    display: flex;
    justify-content: center;
}
.searchContainer {
    width: 696px;
    height: 58px;
    border: 1px solid #E6E6E6; 
    padding-inline: 26px; 
}

.searchContainer:focus::placeholder {
    opacity: 0;
}
.searchContainer::placeholder {
    font-size: 18px; 
}
.searchContainer:focus {
    outline: none; 
    border: 1px solid #778899; 
}
.cartBtn {
    width: 60px; 
    height: 58px;
    background-color: transparent;
    border: none; 
    display: flex;
    justify-content: center;
    gap: 5px;
}
.signinBtn:hover, .button:hover, .cartBtn:hover {
    filter: brightness(85%);
    cursor: pointer;
}
.signinBtn {
    width: 129px;
    height: 52px;
    color: white; 
    background-color: #23A6F0;
    border: none; 
    justify-content: center;
    display: flex;
    gap: 15px;
    font-style: bold;
    cursor: pointer;
}
.cartCount {
    margin-top: auto; 
    margin-bottom: auto; 
    font-size: 20px;
    font-weight: bold;
}
.signinBtn .cartCount {
    font-size: 14px; 
}
.arrow, .cart, .searchContainer, .button {
    margin-top: auto;
    margin-bottom: auto;
}
.uploadZone {
    width: 673px;
    height: 158px;
    background-color: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.uploadFile {
    margin-top: auto;
    margin-bottom: auto;
}
.uploadTitle {
    font-weight: bold;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
}
.upImageBox {
    display: flex;
    width: fit-content;
    justify-content: center;
    flex-direction: column;
}
/* 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup_form
https://www.codemzy.com/blog/react-drag-drop-file-upload
*/