.rightContainer {
    padding-top: 71px;
    padding-left: 56px; 
    background-color: white;
    border-radius: 30px;
    width: 1000px; 
}

.label{
    font-weight: bold;
    padding-bottom: 20px; 
}
.form {
    display: flex; 
    flex-direction: row;
    gap: 20px;
}
.leftForm {
    display: flex; 
    flex-direction: column;
    gap: 30px; 
    padding-right: 140px; 
}
.avatar {
    width: 90px; 
    height: 98px; 
    border-radius: 50%; 
    object-fit: cover;
}
.inputName {
    width: 525px; 
    height: 52px; 
    border: 1px solid #CFD3D4; 
    border-radius: 8px; 
    padding-inline: 10px; 
}
.gender {
    display: flex; 
    flex-direction: row;
}

.checkBox { 
    display: flex; 
    flex-direction: row;
    gap: 20px; 
    margin-right: 20px; 
}
.avatarContainer {
    display: flex; 
    justify-content: center;
    flex-direction: column;

} 
.btnContainer {
    display: flex; 
    flex-direction: row;
    gap: 20px; 
}
.btn, .submitBtn, .addBtn{ 
    width: 90px;
    height: 52px;
    color: white; 
    border: none; 
    background-color: red;
    justify-content: center;
    display: flex;
    font-style: bold;
    cursor: pointer;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
}
.btn:hover {
    background-color: #8B0000; 
}
.bdate {
    display: flex;
    flex-direction: row;
}
.addBtn { 
    width: 231px; 
    background-color: #23A6F0;
}
.submitBtn {
    color: white; 
    background-color: #23A6F0;
    border:none; 
    margin: auto; 
}
.submitBtn:hover {
    background-color: #0e8bd2;
}
.billingInfo {
    width: 471px; 
    display: flex;
    gap: 20px; 
    flex-direction: column;
}
.inputName, .smallInput, .address {
    width: 425px; 
    height: 52px; 
    border: 1px solid #CFD3D4; 
    border-radius: 8px; 
    padding-inline: 10px; 
}
.address {
    width: 890px;
}
.namePhone {
    display: flex; 
    flex-direction: row;
    gap: 20px; 
}
.smallInput {
    width: 195px;
}
.popup {
    padding-top: 50px; 
    width: 100%;
    height: 100%; 
    position: fixed;
    top: 0; 
    display: flex;
    align-items: center;
}
.popupContent {
    background-color: white;
    box-shadow: -1px 1px 5px 1000px rgba(0,0,0,0.75);
    z-index: 4; 
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    display: flex; 
    gap: 20px; 
    flex-direction: column;
}
.formBtnContainer {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 67px; 
}
.close { 
    border: none; 
    width: fit-content; 
    background-color: transparent;
    cursor: pointer;
}
.hover {
    background-color: bisque;
}
.popupHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.headerText {
    display: flex;
    gap: 20px; 
    flex-direction: column;
    font-weight: bold;
}
.subInputName {
    font-style: italic;
    font-size:  12px;
    font-weight: normal;
}