.OrderListContainer{
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 20px; 
}

.OrderList--Title{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
}