:root {
  --text-color: #000;
  --primary-color: #3a4980;
  --secondary-color: #23a6f0;
  --border-color: #e4e4e4;
  --background-primary-color: #e7f4fc;
  --background-gray-color: #E8E8E8;
  --background-dark-color: #252B42;
  
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.AuthenContainer {
  display: flex;
  flex-direction: row;
}
.UserContainer {
  display: flex;
  flex-direction: row;
  background-color: #F5F5F5; 
}
